/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url("https://tse1.mm.bing.net/th/id/OIP.RCalqXxO0ZZxxWBS2QcMqQHaEo?w=256&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7");
    background-repeat: no-repeat;
    background-size: cover}

